* {
    font-family: "Raleway", 'Courier New', Courier, monospace;
    color: #2e2f42;
}

/*Color Palette*/
.primary-color{
    color: #4D5AE5;
}

.pressed-state{
    color: #404BBF;
}

.navy-blue{
    color: #2e2f42;
}

.success{
    color: #31D0AA;
}

.text-color{
    color: #434455;
}

.subtle-text{
    color: #8E8F99;
}

.accent{
    color: #E7E9FC;
}

.light{
    color: #F4F4FD;
}

.modal-overlay{
    color: #2e2f42
}

.hero-background{
    color: #2e2f42;
}

.white-background{
    color: #ffffff;
}

.modal-background{
    color: #FCFCFC;
}

/*Headers*/
.h1{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

.h2{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

.h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

.body{
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #ffffff;
}

p{
    font-style: normal;
}

.small{
    font-family: "Roboto";
    font-weight: Regular;
    Size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}

.medium{
    font-family: "Roboto";
    font-weight: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.button-text{
    font-family: "Roboto";
    font-weight: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

.link{
    font-family: Roboto;
    font-weight: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: Underline;
}

a{
    text-decoration: none;
    color:#2e2f42;
}

a:hover{
    color:#404bbf;
}

a:active{
    color: #404BBF;
    border-bottom: 4px solid #404BBF;
}

button{
    background-color: #2e2f42;
    color: white;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
}

button-hover{
    background-color:#4D5AE5;
}